.project {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  background-color: white;
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}
.nc-btns{
  display: flex;
  flex-direction: column;
}
.project > * {
  margin-bottom: 1rem;
}

.project svg {
  cursor: pointer;
}

.project-header {
  display: grid;
  grid-template-columns: 10% 85% 5%;
  column-gap: 4px;
}

.project-header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}

.project-header span {
  color: var(--text-gray);
  font-size: 12px;
}

.project-header > a {
  height: 44px;
  width: 44px;
}

.profile-img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.project-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.project-desc {
  font-size: 16px;
  font-weight: 500;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
}

.project-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  height: 28px;
  background-color: #e2e2e2;
  /* color: #013d55; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
}

.project-tag:hover {
  border: 2px solid rgb(48, 47, 47);
  outline: black;
}

.project-links {
  display: flex;
}

.project-links > a {
  color: black;
  font-size: 0.8rem;
  text-decoration: underline;
}

.project-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.project-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.5rem;
}

.project-options svg {
  font-size: 1.3rem;
}

.project-options img {
  cursor: pointer;
}

.project-options > span {
  /* font-size: 1.3rem; */
  display: flex;
}

.upvotes {
  font-size: 1.1rem;
  font-weight: 500;
}

.cards {
  transition: all .8s ease-in-out;
  box-shadow: 0 4px 4px #00000040;
  border-radius: 8px;
}

.card-icon-div {
  padding: 9px 12px;
  background: #E5E5FD;
  /* padding-top: 15px; */
}

.card-icon {
  font-size: 40px;
}

.card-text-div {
  padding: 5px 5px;
}

.card-value {
  font-size: 30px;
}

.greet-msg {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* .chart-div {
  margin-top: 20px;
} */

.table-user {
  margin-top: 20px;
}

.users-text {
  padding: 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156.02%;
}

.mr-b {
  margin-bottom: 10px;
}

.pd-b {
  padding-bottom: 0 !important;
}

.pd-t {
  padding-top: 14px;
}

.text-c {
  text-align: center;
}

.online {
  font-size: 18px;
  color: #4caf50;
}

.offline {
  color: #e64a19;
  font-size: 18px;
}

.onoff-count {
  font-size: 24px;
  font-weight: 700;
}

.br-n {
  border: none !important;
}

.fw-300 {
  font-weight: 300;
  padding-top: 5px;
}

.mr-l {
  margin-left: 0 !important;
}


@media screen and (max-width: 650px) {
  .project-header {
    grid-template-columns: 12% 83% 5%;
  }
}

@media screen and (max-width: 500px) {
  .project-header {
    grid-template-columns: 15% 80% 5%;
  }
}

@media screen and (max-width: 450px) {
  .project-header {
    grid-template-columns: 18% 77% 5%;
  }
}

@media screen and (max-width: 400px) {
  .project-header {
    grid-template-columns: 20% 75% 5%;
  }
}

@media screen and (max-width: 1024px){
  .d-card {
    display: block !important;
  }

  .cl-8 {
    max-width: -webkit-fill-available !important;
  }

  .cl-4 {
    display: contents;
  }

  .re-card {
    width: 100%;
  }

  .re-img-list {
    display: revert !important;
  }

  .re-img-item {
    margin-bottom: 5px;
  }
}
