.feed-menu {
  position: sticky;
  /* top: 1rem; */
  display: flex;
  flex-direction: column;
  /* border-radius: var(--border-radius); */
  box-shadow: 0px 2px 24px 2px rgba(0, 6, 148, 0.08);
  background-color: white;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.items{
  background-color: rgb(169, 25, 25);
  height: 3.5rem;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
.logo {
  /* height: 2rem; */
  /* width: 3rem; */
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 4rem;
  /* height: 2rem; */
  cursor: pointer;
}

.logo-text {
  color: #586F97;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 26px;
  padding-bottom: 20px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.menu-item{
  color:white;
}
.menu-item:hover{
  color: inherit;
  text-decoration: none;
}

/* .menu-item:hover {
  background-color: #586F97;
} */

.active-menu-item {
  background-color: #586F97;
}

@media screen and (max-width: 1200px) {
  .menu-item > span {
    /* display: none; */
  }
}

@media screen and (max-width: 767px) {
  .feed-menu {
    display: none;
  }
}
