.row{
    display: flex;
    padding: 5px;
    margin: 4px;

}
.col-md-8{
    display: flex;
    padding: 3px;
    background-color: aliceblue;
}
.form-group{
    margin: 4px;
}
.form-control{
    margin: 3px 0px 3px 3px;
    width: 50%;
}